
    Layout = null;
}

@using la_mia_pizzeria_static.Models


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @*HEADER*@
    <header class="container-fluid d-flex justify-content-between p-3">
        <img src="css/img/pizza.png" alt="Immagine Pizza">
        <span> <a>Utente</a> </span>
    </header>
    @*MAIN*@
    <main>
        <div class="container">
            <h5>Lista Pizze:</h5>
            <div class="row">
                <div class="col-6">
                    <div>
           @*             @if ( Model.Count() == 0)
                        {
                            <h3 class="text-center">Non hai inserito nessuna pizza</h3>
                        }
                        else{*@

                        
                        <ul class="d-flex">
                            @foreach (Pizza pizza in Model)
                            {
                                <div>
                                    <li class="">
                                        <div class="text-center">
                                            <div>
                                                <img width=20% height="40px" src="@pizza.Pic">
                                            </div>

                                            <b>@pizza.Nome:</b>
                                            <span>@pizza.Description</span>
                                            <span>@pizza.Price €</span>
                                        </div>
                                        <span>@pizza.Category.Name</span>

                                        <div>
                                            <button class="btn "> <a color="white" style href="@Url.Action("Details", "pizza", new{ id = pizza.Id})">Visualizza</a></button>
                                            <button class="btn"> <a href="@Url.Action("Edit","Pizza", new{ id = pizza.Id})"> Modifica</a> </button>
                                            <form asp-controller="Pizza" asp-action="Delete" asp-route-Id="@pizza.Id" method="post">
                                                    @Html.AntiForgeryToken()
                                                <button type="submit">Cancella</button>
                                            </form>
                                        </div>
                                    </li>
                                </div>
                                }              
                            </ul>
                       @* }
*@
                    </div>
                </div>
            </div>
        </div>
    </main>

    @*FOOTER*@
    <footer class="container-fluid text-center">
        <h5>Sponsored by Pizza Foods</h5>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>



@*
<div class="text-center">
    <h1 class="display-4">Welcome to Pizza Hut</h1>
    <div class="row">
        <div class="col-5 text-start list-unstyled py-5">
            <h5>Lista Pizze:</h5>
            <ul class="d-flex list-style-none">
                @{
                    int count = 0;
                }
                @foreach (var pizza in Model)
                {
                    <div class="col-4 d-flex">
                    <li class="py-2 mr-4">
                        <div class="text-center">
                            <div>
                                <img width=20% height="40px" src="@pizza.Pic">
                            </div>

                            <b>@pizza.Nome:</b>
                            <span>@pizza.Description</span>
                            <span>@pizza.Price €</span>
                        </div>

                        <div>
                            <button class="btn "> <a color="white" style href="@Url.Action("Details", "pizza", new{ id = pizza.Id})">Visualizza</a></button>
                            <button class="btn"> <a href="@Url.Action("Edit","Pizza", new{ id = pizza.Id})"> Modifica</a> </button>
                            <form asp-controller="Pizza" asp-action="Delete" asp-route-Id="@pizza.Id" method="post">
                                    @Html.AntiForgeryToken()
                                <button type="submit">Cancella</button>
                            </form>
                        </div>
                    </li>
            </div>

                }
        </ul>
    </div>
</div>
        </div>
<div class="text-center">
    <a href="@Url.Action("Create", "pizza")">Crea una pizza</a>
</div>
    </main>*@